//colors.
// нащвания цветов взяты с сайта
// http://chir.ag/projects/name-that-color/#6195ED
$ALABASTER: #F7F7F7;
$APPLE: #52AE30;
$ATHENS_GRAY: #e9ecef;
$ATHENS_GRAY_TITLE: #F5F6F8;
$BLACK: #000;
$BOULDER: #767676;
$DOVE_GRAY: #6A6A6A;
$DOVE_GRAY_CARD_DETAILS: #6E6E6E;
$DUSTY_GRAY: #979797;
$FOREST_GREEN: #428B26;
$GALLERY: #EBEBEB;
$GALLERY_CREDIT: #EDEDED;
$GRAY: #808080;
$OCEAN_GREEN: #42b983;
$PICKLED_BLUEWOOD: #2c3e50;
$RADICAL_RED: #FF435A;
$RED: #ff0000;
$SILVER: #C6C6C6;
$SILVER_CHALICE: #ABABAB;
$TEXAS_ROSE: #FFB655;
$TUNDORA: #4A4A4A;
$TUNDORA_CALC: #494949;
$WHITE: #fff;
$WILD_SAND: #F6F6F6;
$WOODSMOKE: #151617;
